{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":12},"end":{"row":4,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"4e044bf29b328ecf8791869a5bb98ff477fc2535","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":2,"column":6},"end":{"row":3,"column":0},"action":"insert","lines":["",""],"id":8}],[{"start":{"row":3,"column":0},"end":{"row":4,"column":12},"action":"insert","lines":[".~c9","__pycahce__/"],"id":9}]]},"timestamp":1567171718944}