{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":0},"end":{"row":3,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":13,"mode":"ace/mode/ini"}},"hash":"090ad27827e14e1a2a1f636dc568a4fb3455e7eb","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1567336417334}