@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

/*Body */

body {
    font-family: 'Manjari', sans-serif;
    padding-top: 70px;
    overflow:hidden;
}


/*Form */

form {
    padding-top:60px;
    width: 40%;
    margin:auto;
    letter-spacing: 2px;
}


#id_username,
#id_password {
    
margin-bottom:50px; 
width:70%;
}


/*Footer*/

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}




.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/*Headings*/

.main-heading {
    text-align:center;
}

.password {
  text-align:center;
}

/*Buttons*/

.btn-outline-primary{
   background:#000;    
   color:#fff;
}

