@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

/*Body */

body {
    font: 'Manjari', sans-serif;
    padding-top: 100px;
    overflow-x:hidden;
    
}



.links {
    font-family: 'Manjari', sans-serif;
}

.product-title {
    font-size:2em;
    color:#000;
    font-family: 'Manjari', sans-serif;;
}

/*Headings*/

.top-heading {
    text-align: center;
    padding-right:5em;
    margin: 0px 0px;
    
}


.navbar-default{
    background-color: #000;
    color:#fff;
}

nav .navbar-nav li a,
.navbar-brand {
    color:#fff !important;
}
/*Form */

form {
    padding-top:60px;
    width: 40%;
    margin:auto;
    letter-spacing: 2px;
}

.main-form {
    padding-left:3em;
}

.password {
    font-size:1em;
    padding-top:1em;
    margin-right:130px;
}

.top-form {
    padding-left:3em;
    padding-right:3em;
    width:50%;
}

input {
    height:3em;
    width:24rem;
}

#id_username,
#id_password {
    
margin-bottom:50px; 
width:70%;
}

/* Badge */

.badge {
    
    padding-left: 10px;
    padding-right:10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}


/* Messaages */

.messages {
    text-align: center;
    background-color:#ccffcc;
    letter-spacing: 2px;
    color: #000;
    height:50px;
    margin-bottom: 10px;
    padding-top:10px;
    
}

/*Panels*/

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    height:100px;
}


.panel-default {
    border-color: transparent;
    padding: 0 20px;
}

.panel-body {
    height: 60%;
    border: 1px solid #ddd;
    width:60%;
}

.product-description {
    min-height: 40px;
}

.display {
   text-align: center;
  }

input[name="q"]{
  width: 70%;
  display: inline-block; 
}


/*Footer*/

.main-footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    background-color: #000;
    bottom:0;
    height:60px;
    position:fixed;
    width:100%;
   
}

.footer-p {
    color:#fff;
    padding-bottom:10px;
}


.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/*Headings*/

.main-heading {
    text-align:center;
}

.password {
  text-align:center;
}

/*Buttons*/

.btn-outline-primary{
   background:#000;    
   color:#fff;
}

.navbar-toggle {
   margin-right:1.75em;
}


.btn-search,
.btn-send{
    height:3em;
    background-color:#4d79ff;
    color:#fff;
    letter-spacing: 1.5px;
   
}

.btn-send {
    height:3em;
    background-color:#00e600;
    color:#fff;
    letter-spacing: 1.5px;
}

.button.btn.btn-primary.search {
     background-color: #000;
}

.login{
    width:20%;
}


.btn-delete{
    background-color: #ff0000;
    border-color: #000;
}


.btn-edit {
    background-color:  #00e673;
    border-color: #000;
    
}

.btn-feedback {
    background-color:  #4da6ff;
    border-color: #000;
}

.detail{
   width:400px;    
   margin: 0 auto;   

   
}
.alter {
    color:#fff;
}


/*Product*/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height:200px;
    margin: 0 auto;
}

.product-paragraph {
    font-size: 1em;
    color:#000;
    font-weight: 100;
}

.username{
    padding-left:2em;
    color:#fff;
}



/*Horizontal Rule*/

hr {
      display: block;
      border: 1px #d9d9d9 solid;
      width:68%;
}

/*Feedback */

.feedback {
    display: block;
    
}



/*Media Queries*/

/*Forms*/

@media(max-width:500px){
    .top-form{
        width:60%;
        height:50%;
    }
    form {
        width:90%;
        padding-top:0px;
    }
    
    body {
        padding-top: 80px;
    }
    
    .form-container {
        height:60%;
    }
    
    .main-heading {
     font-size:1.5em;       
    }
    .form-group {
        margin-bottom: 2px;
    }
    
    .main-footer {
        height:25px;
    }
    
    .footer-p {
        font-size:1em;
        margin-bottom:1em;
    }
   
    .register {
        padding-bottom:1em;
        
    }
    
    .btn {
       margin-top:5px;
       
      
    }
    
    .login{
    width:30%;
}
   
   .feedback {
       font-size:1.5em;
   }
   
   .feedback-form {
       width:80%;
       min-height: 100%
   }
    
.feedback-container {
      min-height: 600px;
 }
 
 .main-form {
     padding-bottom:90px;
 }
 
}

/*Horizontal rule Media Query    */

@media(max-width:500px){
    hr {
      display: block;
      border: 1px #808080 solid;
      width:100%;
    }
    
    .password {
    margin-right:60px;
}

   
}
    
    


