{% load static from staticfiles %}

<html>

<head>
    <title>{% block page_title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pranita's T-shirt Shop</title>

    <!--Bootstrap and Fontawesome CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}">

    <!--My Own CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!--JQuery for Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %} {% endblock head_js %}

</head>

<body>

    <!--Navigation Bar-->

    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="nav-container">
            <div class="navbar-header">
                <button type="button-toggle" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Pranita's T-Shirt Shop</a>
              <div class="col-xs-1 col-md-1 col-sm-1 text-center username"><br>
                <p><span class="boldtext text-center ">{{ user.get_username }}</span></p>
                </div>
                
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                
                <ul class="nav navbar-nav navbar-right links">

                    {% if user.is_authenticated %}
                    
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'add_post' %}">Add Feedback</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                    <li><a href="{% url 'view_cart' %}"><span class "glyphicon glyphicon-shopping-cart">Cart</span>
                    {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label>
                    {% endif %}
                    </a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'get_posts' %}">Feedback</a></li>

                </ul>
            </div>
    </nav>

    <!--End of Navigation Bar-->


    <h1 class="top-heading">{% block page_heading %}{% endblock %}</h1>

    {% if messages %}
    <div class=" container-fluid messages"><strong>
        {% for message in messages %} {{ message }} {% endfor %}
   </strong></div>
    {% endif %}

    <!--Search Box-->
    <div class="container-fluid">
        <div class="row">
    <div class=" col-xs-12 col-md-12 col-sm-12 display">
        <form action="{% url 'search' %}" method="GET">
            <input type="text" name="q">&nbsp;
            <button type="submit" class="btn btn-search"><strong>Search</strong></button>
        </form>
    </div>
    </div>
    </div>
    <br><br><br>


    {% block content %}




    {% endblock %}
    
    
    <!--Footer-->

    <footer class="main-footer">
        <div class=" col-xs-12 col-md-12 col-sm-12">
            <p class="footer-p text-center"> Pranita's T-Shirt Shop</p>
        </div>
    </footer>

</body>

</html>
