{% load static from staticfiles %}

<html>

<head>
    <title>{% block page_title %}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pranita's T-shirt Shop</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />

    <!--Fontawesone CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Farro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />

    <!--My Own CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--JQuery for Bootstrap-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block head_js %} {% endblock head_js %}

</head>

<body>
  
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row">
            <div class="container-fluid">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand links" href="/">Pranita's T-shirt Shop</a><br>

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">


                            {% if user.is_authenticated %}
                            <li class= "nav-item"><a class="links" href="{% url 'logout' %}">Logout</a></li>
                            <li class = "nav-item"><a class= "links" href="{% url 'add_post' %}">Add Feedback</a></li>

                            {% else %}
                            <li class= "nav-item"><a class ="links" href="{% url 'login' %}">Login</a></li>
                            <li class="nav-item"><a class="links" href="{% url 'register' %}">Register</a></li>
                            {% endif %}

                            <li class = "nav-item">
                                <a class="links" href="{% url 'view_cart' %}">
                            Cart
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                            </li>

                            <li class= "nav-item"><a class= "links" href="{% url 'contact' %}">Contact</a></li>
                            <li class= "nav-item"><a class= "links" href="{% url 'get_posts' %}">Feedback</a></li>

                        </ul>
                 
                </div>
            </div>
        </div>
        <span class="username">User:{{user.username}}</span>
    </nav>

    <!--End of Navigation Bar-->


    <h1 class="top-heading">{% block page_heading %}{% endblock %}</h1>

    {% if messages %}
    <div class=" container-fluid messages"><strong>
        {% for message in messages %} {{ message }} {% endfor %}
   </strong></div>
    {% endif %}

    <!--Search Box-->
      <div class="container-fluid home">
        <div class="row">
            <div class=" col-xs-12 col-md-12 col-sm-12 display">
                <form action="{% url 'search' %}" method="GET">
                    <input type="text" name="q">&nbsp;
                    <button type="submit" class="btn btn-search"><strong>Search</strong></button>
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
    
    {% block content %} {% endblock %}
    
    
    <div class="container pagination-box">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 pagination">
                {% if posts.has_previous %}

                <a class="btn btn-outline-info" href="?page{{ posts.previous_page_number }}"><i class="icon fa fa-caret-left"></i></a></li>
                {% endif %} {% for pg in posts.paginator.page_range %} {% if posts.number == pg %}
                <a class="btn btn-outline-info active" href="?page{{ pg }}">{{ pg }}</a></li>
                {% endif %} {% endfor %} {% if posts.has_next %}
                <a class="btn btn-outline-info" href="?page= {{posts.next_page_number }}"><i class=" icon fa fa-caret-right"></i></a></li>
                {% endif %}

            </div>
        </div>
    </div>
    </div>
    
    <!--Footer-->

    <footer class="main-footer container-fluid">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-12 text-center">
                    <p class="footer-p">© Copyright Pranita's T-Shirt Shop</p>
                    <span class="icon-github"><a href="https://pages.github.com/" target="_blank"><i class="fab fa-github"></i></a></span>
                </div>
           </div>
    </footer>
   
</body>

</html>
