{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <p><span class="boldtext">{{ user.username }}</span></p>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.feedback|truncatewords:20 }}</p>
                        <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                        <p><span class="boldtext">Views:</span> {{post.views}}</p>
                        <p>Please rate the product 1-5 (Poor - Excellent)<span class="boldtext">Rating:</span> {{post.rating}}</p>
                        
                      <a href="{% url 'edit_post' post.id %}" class="btn btn-default"><span>Edit</span></a>
                      <a href="{% url 'delete_post' post.id %}" class="btn btn-default"><span>Delete</span></a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}