{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
           <p><span class="boldtext">Author:</span> {{user.username}}</p>
        </div>
           <h3>{{ product_title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ post.feedback}}</p>
                    <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                    <a href="{% url 'edit_feedback' post.id %}" class="btn btn-default">Edit Feedback</a>
                 <hr>
             </div>
        </div>
    </div>
{% endblock %}