{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %} Login {% endblock %}

<div class="row">
        <div class="container-fluid">
        <div class = "col-md-6 col-xs-6"></div>
    {% block content %} {% block heading %}
    <h1 class="main-heading">Login</h1> {% endblock %}
    <form method="POST" class="main-form">
        {% csrf_token %} {{ login_form | as_bootstrap }}
        <button type="button submit" class="btn btn-outline-primary login">Login</button>
        <br><br>
        <p class="password">If you have forgotten your password please<a href="{% url 'password_reset' %}"> Reset Password</a></p>
    </form>
    </div>
</div>
</div>
    
    {% endblock %}
