{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %} Login {% endblock %}

<main class="container form-container">
    {% block content %} {% block heading %}
    <h1 class="main-heading">Login</h1> {% endblock %}
    <form method="POST">
        {% csrf_token %} {{ login_form | as_bootstrap }}
        <button type="button submit" class="btn btn-outline-primary">Login</button>

    </form>
    <br>
    <p class="password">If you have forgotten your password please<a href="{% url 'password_reset' %}"> Reset Password</a></p>
    {% endblock %}
</main>
